.adminPloyee {
  // .el-form-item {
  //   margin-bottom: 17px;
  // }
  // .greyColor .el-form-item__label{
  //     color:#AAA;
  //   }
  .centerText {
    text-align: left;
  }
  .el-dialog__header {
    height: 30px;
    background: #e8ecef;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #d2d2d2;
  }
  .el-dialog__footer {
    padding: 20px 24px;
    border-top: 1px solid #d2d2d2;
    clear: both;
    background: #e8ecef;
    border-radius: 0px 0px 4px 4px;
  }
  .el-dialog__body {
    max-height: 550px;
    overflow-y: auto;
  }

  .dataShareClass .el-form-item__content {
    margin-left: 10px !important;
  }

  .admin-slot-a {
    text-decoration: none;
    color: #000;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .showDataRoleClass {
    cursor: pointer;
  }
  .admin-dialog-box {
    .el-form-item__label {
      width: 100px;
    }
  }

  @media (min-width: 1280px) {
    .admin-dialog-box .el-dialog {
      width: 50% !important;
    }
  }

  @media (min-width: 1440px) {
    .admin-dialog-box .el-dialog {
      width: 40% !important;
    }
  }
  @media (min-width: 1600px) {
    .admin-dialog-box .el-dialog {
      width: 30% !important;
    }
  }
  .el-radio {
    margin-right: 0px;
  }

  //添加的左边样式
  .left-tree {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-right: 15px;
    background: #fafafa;
  }
  .ground-title {
    background: #fafafa;
    margin-right: 15px;
    padding: 10px;
  }
  // .avue-crud{
  //   margin-left: 20px;
  // }

  // @media screen and (max-width:1580px) {
  //   .minHeight{
  //     min-height: unset;
  //   }
  // }

  // @media screen and (max-width:1580px) {
  //   .minHeight{
  //     min-height: unset;
  //   }
  // }

  .ployee-btn-wrap {
    .el-button {
      margin-bottom: 10px;
    }
  }
}
